*{
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s ease-in-out;
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #111111;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1);
  }
}
