#home{
  height: 100vh;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center; 
  color: #ffffff;

  .name{
    // font-variant: 'bold';
    font-size: 3.2em;
    margin-bottom: 0px;
    font-weight: 600;
  }

  .job{
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1em;
  }

  .desc{
    font-size: 1.4em;
    font-weight: 300;  }
}