#home{
  height: 100vh;
  background: url(../images/bg5.jpg);
  background-size: cover;
  background-position: center; 
  color: #ffffff;

  .name{
    // font-variant: 'bold';
    font-size: 3.2em;
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .job{
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 0px;
  }

  .desc{
    font-size: 1.4em;
    font-weight: 300;  
  }

  .sidelink{
    display: flex;
    flex-direction: column;
    // writing-mode: vertical-rl;
    > div { margin: 0px 1em; }
  }
}