#container{
  height: 100vh;
}

.no-padding{
  padding: 0px;
}

.page{
  padding-top: 80px;
  padding-bottom: 120px;
}



.fullpage{
  min-height: 100vh !important;
  width: 100%;
}

.fullscreen{
  height: 100%;
}

.fullscreen.center, .fullpage.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section {
  width: 100%;
}

.section{
  margin: 0px auto;

  &:first-child{
    padding-top: 80px;
  }
}

.section.dark, .dark{
  background: #151212;
  color: #ffffff
}

.section.black, .black{
  background: #000000;
  color: #ffffff
}

.section.dim, .dim{
  background: #dddddd;
}

.section.light, .light{
  background: #ffffff;
  color: #151212;
}

.section.cyan, .cyan{
  background: #43c1c7;
  color: #ffffff
}