#container{
  height: 100vh;
}

.no-padding{
  padding: 0px;
}

.page{
  padding-top: 80px;
  padding-bottom: 80px;
}

.fullpage {
  height: 100vh;
  width: 100%;
}

.fullscreen{
  height: 100%;
}

.fullscreen.center, .fullpage.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section {
  width: 100%
}

.section.dark{
  background: #151212;
  color: #ffffff
}

.section.black{
  background: #000000;
  color: #ffffff
}

.section.dim{
  background: #dddddd;
}

.section.cyan{
  background: #43c1c7;
  color: #ffffff
}